In [13]:
import pandas as pd
from pathlib import Path
file_name = '1.xlsx'

In [16]:
exel_file = Path.cwd() / 'row_data' / file_name
print(file_path)

/home/korotkaya/me/sobes/get_data_from_exel/row_data/1.xlsx

In [18]:
df = pd.read_excel(exel_file, header = [0,1,2], index_col = [0])

In [19]:
display(df)

id            company                fact                      \
   Unnamed: 1_level_1                Qliq
   Unnamed: 1_level_2 2023-07-14 00:00:00 2023-07-15 00:00:00
1            company1                  10                  20
2            company2                  11                  21
3            company1                  12                  22
4            company2                  13                  23
5            company1                  14                  24
6            company2                  15                  25
7            company1                  16                  26
8            company2                  17                  27
9            company1                  18                  28
10           company2                  19                  29
11           company1                  20                  30
12           company2                  21                  31
13           company1                  22                  32
14           company2                  23                  33
15           company1                  24                  34
16           company2                  25                  35
17           company1                  26                  36
18           company2                  27                  37
19           company1                  28                  38
20           company2                  29                  39

id                                                    forecast  \
                  Qoil                                    Qliq
   2023-07-14 00:00:00 2023-07-15 00:00:00 2023-07-14 00:00:00
1                   30                  40                  12
2                   31                  41                  13
3                   32                  42                  14
4                   33                  43                  15
5                   34                  44                  16
6                   35                  45                  17
7                   36                  46                  18
8                   37                  47                  19
9                   38                  48                  20
10                  39                  49                  21
11                  40                  50                  22
12                  41                  51                  23
13                  42                  52                  24
14                  43                  53                  25
15                  44                  54                  26
16                  45                  55                  27
17                  46                  56                  28
18                  47                  57                  29
19                  48                  58                  30
20                  49                  59                  31

id
                                      Qoil
   2023-07-15 00:00:00 2023-07-14 00:00:00 2023-07-15 00:00:00
1                   22                  15                  25
2                   23                  20                  30
3                   24                  25                  35
4                   25                  30                  40
5                   26                  35                  45
6                   27                  40                  50
7                   28                  45                  55
8                   29                  50                  60
9                   30                  55                  65
10                  31                  60                  70
11                  32                  65                  75
12                  33                  70                  80
13                  34                  75                  85
14                  35                  80                  90
15                  36                  85                  95
16                  37                  90                 100
17                  38                  95                 105
18                  39                 100                 110
19                  40                 105                 115
20                  41                 110                 120